<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <style>
        body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 60px;
  max-width: 600px;
  height: 580px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
    </style>
</head>

<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form"  method="post">
                            {% csrf_token %}
                            {{form.errors}}
                            <h3 class="text-center text-info">Register</h3>
                            <div class="form-group">
                                <label  class="text-info">Full name:</label><br>
                                {{form.full_name}}
                            </div>
                            <div class="form-group">
                                <label class="text-info">Email:</label><br>
                                {{form.email}}
                            </div>
                            <div class="form-group">
                                <label class="text-info">Username:</label><br>
                                {{form.username}}
                            </div>
                            <div class="form-group">
                                <label class="text-info">Password:</label><br>
                                {{form.password1}}
                            </div>
                            <div class="form-group">
                                <label class="text-info">Confirm Password:</label><br>
                                {{form.password2}}
                            </div>
                            <div class="form-group">
                                <label class="text-info"><span></span> <span></span></label><br>
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                            <div id="register-link" class="text-right">
                                <a href="{% url 'login' %}" class="text-info">login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>